@model IEnumerable<TaskList.Models.Usuario>

@{
    ViewData["Title"] = "Usuários";
}

<h1>Cadastro de usuários</h1>

<p>
    <a asp-action="Create"><img src="~/adicionar.png" alt="adcionar" style="width:20px; height:20px;" /> Novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailUsuario)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdUsuario"> <img src="~/Edit.png" alt="Edit" style="width:20px; height:20px;" /></a> |
                    <a asp-action="Details" asp-route-id="@item.IdUsuario"> <img src="~/Details.png" alt="Detalhes" style="width:20px; height:20px;"/></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdUsuario"><img src="~/Delete.png" alt="Detalhes" style="width:20px; height:20px;" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
